<<<<<<< HEAD
/* CSS styling for error content when client cannot fetch server */
=======
>>>>>>> 8043af141fd56dffed23557404621b576a3f7087
.errorSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;

    h1{
	    font-size: 5em;	
    }

    h2{
	    font-size: 2.2em;
    }
}
