/* CSS styling for post container */ 
.postContainer{
    background-color: var(--color1);

    width: 60%;

    margin: 0 auto;
    padding: 40px;

    border-radius: 20px;

    .timeSpan{
        font-family: var(--font2);
        font-weight: 200;
        color: #b1b1b1
    }

    h3{
        font-size: 30px;
        font-family: var(--font1);
    }

    p{
        font-size: 16.5px;
        font-family: var(--font2);
    }

}


