@font-face{
    font-family: 'Kumbh_Sans';
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/Kumbh_Sans/static/KumbhSans-ExtraLight.ttf");
}
@font-face{
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Kumbh_Sans/static/KumbhSans-Regular.ttf");
}
@font-face{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Merriweather/Merriweather-Bold.ttf");
}